.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
}

.header .logo {
    max-height: 50px;
}

.title-group {
    padding-left: 25px;
}

.material-icons {
    padding-right: 5px;
}