<mat-card>
    <section>
        <h3>Alterar Cadastro</h3>
        <div class="example-container">
            <mat-form-field appearance="legacy">
                <mat-label>Nome</mat-label>
                <input matInput type="text" [(ngModel)]="aluno.name" name="name">
            </mat-form-field>
        </div>
        <div class="example-container">
            <mat-form-field appearance="legacy">
                <mat-label>Curso</mat-label>
                <input matInput type="text" [(ngModel)]="aluno.curso" name="curso">
            </mat-form-field>
        </div>
        <button class="btnVoltar" mat-button color="basic" (click)="voltar()">Voltar</button>
        <button class="btnSalvar" mat-button color="primary" (click)="create()">Salvar</button>
    </section>
</mat-card>