<div class="mat-elevation-z8">
    <div class="center" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <table mat-table [dataSource]="dataSource">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let aluno"> {{aluno.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let aluno"> {{aluno.name}} </td>
        </ng-container>

        <!-- Curso Column -->
        <ng-container matColumnDef="curso">
            <th mat-header-cell *matHeaderCellDef> Curso </th>
            <td mat-cell *matCellDef="let aluno"> {{aluno.curso}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="ação">
            <th mat-header-cell *matHeaderCellDef> Ação </th>
            <td mat-cell *matCellDef="let aluno">
                <a routerLink="/aluno-update/{{aluno.id}}">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
                <a style="padding-left: 5px;" routerLink="/aluno-delete/{{aluno.id}}">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>